{% extends "bootstrap/base.html" %}

{% block content %}
      
        <style>
        .table { 
           width: 10%;
        {
        </style>
	<div class="container">
        <p class="h2">Welcome to multicast MAC to IP converter</p>
	
	<form method="POST" class="form-inline" action="/">
        <div class="form-group">
	   <input type="text" class="form-control-sm" placeholder="00:01:5e:00:00:00" name="mac">
        </div>
       
	   <button type="submit" class="btn btn-primary btn-sm">Convert</button>
	</form>
       
        {% if ips %}
        <table class="table table-borderless table-condensed">
	{% for ip in ips %}
	   <tr><td>{{ ip }}</td></tr>
 	{% endfor %}
        </table>
        {% endif %}
	</div>	
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
{% endblock %}

